@{
    ViewBag.Title = "Index";
}
<section class="header-banner about-banner-bg">

    <div class="banner-overlay">

        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-12">

                    <h2>Apartment</h2>

                </div>

                <div class="col-md-6 col-sm-12">
                </div>

            </div>

        </div>

    </div>

</section>

<section class="property-lists who-we-are">

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

                <div class="latest-pic1"></div><!-- end .latest-pic -->

                <div class="latest-pic-bottom">

                    <div class="pic-address">Senior Living <span></span></div><!-- end .pic-address -->

                    <div class="description-wrap">

                        <div class="pic-description">

                            <h3><a href="/Apartment/ViewApartment/1">Village East</a></h3>

                            <p><i class="fa fa-check"></i> 2  Beds</p>
                            <p><i class="fa fa-check"></i> 1 Baths </p>
                            <p><i class="fa fa-phone"></i>  402-679-3229</p>

                            <a href="/Apartment/ViewApartment/1" class="btn btn-primary col-xs-12 btn-lg">View Community</a>
                        </div><!-- end .pic-description -->
                       

                    </div><!-- end .desctription-wrapper -->

                </div> <!-- end .latest-pic-bottom -->

            </div><!-- end .col-md-4 -->

            <div class="col-md-4 col-sm-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

                <div class="latest-pic2"></div><!-- end .latest-pic -->

                <div class="latest-pic-bottom">

                    <div class="pic-address">Apartments <span></span></div><!-- end .pic-address -->

                    <div class="description-wrap">

                        <div class="description-wrap">

                            <div class="pic-description">

                                <h3><a href="/Apartment/ViewApartment/2">Renaissance Village</a></h3>

                                <p><i class="fa fa-check"></i>1 2 3 Beds</p>
                                <p><i class="fa fa-check"></i> 1 Baths </p>
                                <p><i class="fa fa-phone"></i>  402-898-5879</p>

                                <a href="/Apartment/ViewApartment/2" class="btn btn-primary col-xs-12 btn-lg">View Community</a>
                            </div><!-- end .pic-description -->


                        </div><!-- end .desctription-wrapper -->

                    </div><!-- end .desctription-wrapper -->

                </div> <!-- end .latest-pic-bottom -->

            </div><!-- end .col-md-4 -->

            <div class="col-md-4 col-sm-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

                <div class="latest-pic3"></div><!-- end .latest-pic -->

                <div class="latest-pic-bottom">

                    <div class="pic-address">Apartments   <span></span></div><!-- end .pic-address -->

                    <div class="description-wrap">

                        <div class="pic-description">

                            <h3><a href="/Apartment/ViewApartment/3">The Reserves at Preston Trails</a></h3>

                            <p><i class="fa fa-check"></i> 1 2 3 Beds</p>
                            <p><i class="fa fa-check"></i> 1 2Baths </p>
                            <p><i class="fa fa-phone"></i> 806-243-2531</p>

                            <a href="/Apartment/ViewApartment/3" class="btn btn-primary col-xs-12 btn-lg">View Community</a>
                        </div><!-- end .pic-description -->

                    </div><!-- end .desctription-wrapper -->

                </div> <!-- end .latest-pic-bottom -->

            </div><!-- end .col-md-4 -->

        </div><!-- end .row -->

    </div><!-- end .container -->

</section>

@section scripts{
    <script type="text/javascript">
        function initMap() {
            var dallas = { lat: 32.79398, lng: -96.765693 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: dallas
            });
            var marker = new google.maps.Marker({
                position: dallas,
                map: map
            });
        }
    </script>   
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpage3odvuUkQB8RBPYabsk7b99zYLS1k&callback=initMap">
    </script>

}