@{
    ViewBag.Title = "Index";
}
<section class="header-banner about-banner-bg">

    <div class="banner-overlay">

        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-12">

                    <h2>Associate</h2>

                </div>

                <div class="col-md-6 col-sm-12">
                </div>

            </div>

        </div>

    </div>

</section>

<!-- =========================

    Associates

============================== -->

<section class="nearby-place" id="associates">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="nearby">

                    <h1 class="section-heading wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0s; animation-name: fadeInUp;">EXECUTIVE <span>TEAM</span></h1>

                </div>

            </div>

        </div>

    </div>

</section>
<br />
<br />
<section>
    <div class="container">
        <img src="~/Assets/images/Bob-Dean-2017.jpg" class="leader" />
        <h2>Bob Dean</h2>
        <p>
            <strong>HCCP, NAHP-e, President & Chief Executive Officer, CEO</strong><br />
        </p>
        <p class="text-justify">Bob Dean, President/CEO has been associated with Seldin since 1991, and was named President of the company in 2013. Bob is a results-driven, focused leader adept at building out a foundational company structure. Since 2010, he has led the effort to acquire over 6,000 residential apartment units with a market valuation greater than $500 million</p>
        <p class="text-justify">Under Bob’s leadership, Seldin Company has seen a 42% increase in units managed, growing from a Nebraska-based real estate firm to a known leader in the Midwest.</p>
        <p class="text-justify">Bob currently holds Real Estate licenses in Nebraska, Iowa, Indiana, Illinois and Oklahoma, as well as HCCP and NAHP-e certifications. He previously served as President of the Affordable Housing Management Association (AHMA) of Iowa and Nebraska and has been a licensed Real Estate Instructor since 1992.</p>

        <hr />

        <img src="~/Assets/images/se_alicia.jpg" class="leader" />
        <h2>Alicia Stoermer Clark</h2>
        <p>
            <strong>Chief Operating Officer, COO</strong><br />
        </p>
        <p class="text-justify">Alicia Stoermer Clark has been with Seldin Company since 2004, using her extensive knowledge of compliance and business intelligence to lead the organization through countless property transitions and help Seldin realize its growth objectives.</p>
        <p class="text-justify">In her current role as Chief Operating Officer, she is responsible for providing strategic leadership and guidance for property operations, marketing and the learning and development divisions of Seldin Company. As COO, Alicia develops and executes initiatives, strategies and goals to further the success of Seldin’s properties, its employees and the Company as a whole.</p>
        <p class="text-justify">Alicia has a Bachelor of Science in Housing and the Near Environment from Iowa State University and an MBA and PhDc in Human Capital Management from Bellevue University. She is currently an Executive I member of NAHMA, Assistant Executive Director of the IA/NE AHMA and holds many professional industry designations including CAPS, HDFP, COS, SHCM, HCCP, C3P and TTT.</p>

        <hr />

        <img src="~/Assets/images/Cindy-Powers-2017.jpg" class="leader" />
        <h2>Cindy Powers</h2>
        <p>
            <strong>Chief Administrative Officer, CAO</strong><br />
        </p>
        <p class="text-justify">Cindy Powers has been with Seldin Company since 2000, during which time she has served as the Assistant to the Chairman, Legal Assistant to the VP and General Counsel, Office Manager and Property Insurance Coordinator and the Senior Vice President of Human Resources.</p>
        <p class="text-justify">Throughout her tenure, Cindy has dedicated herself to helping drive and manage a number of key initiatives that enrich Seldin Company and its employees including, benefit enhancements, wellness programs and employee engagement improvements. As Chief Administrative Officer, Cindy provides strategic leadership and support in developing and successfully executing initiatives, strategies and goals in the areas of human resources, administrative services and information technology.</p>
        <p class="text-justify">Cindy holds a Bachelor of Science degree in Management of Human Resources and an A.A.S. Degree in Legal Assisting, specializing in commercial law. She holds the SPHR and SHRM-SCP certifications. Cindy is also a member of the Society for Human Resources Management, Human Resource Association of the Midlands and serves as a Business Ethics Alliance Trustee.</p>

    </div>
    <br /><br /><br />
</section>

<!-- =========================

    End Associates

============================== -->
